affine==2.4.0
aiobotocore==2.5.2
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.11.1
altair==5.0.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
awscli==1.27.148
backcall==0.2.0
backports.functools-lru-cache==1.6.5
basemap==1.3.7
basemap-data==1.3.2
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
bokeh==3.1.1
boto3==1.26.148
botocore==1.29.161
Bottleneck==1.3.7
branca==0.6.0
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.3.1
catboost==1.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.4
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmaes==0.9.1
cmdstanpy==1.1.0
colorama==0.4.4
colorlog==6.7.0
comm==0.1.3
contextily==1.3.0
contourpy==1.1.0
convertdate==2.4.0
cycler==0.11.0
Cython==0.29.36
cytoolz==0.12.0
dask==2023.5.1
dataframe-image==0.1.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
distributed==2023.5.1
docutils==0.16
eli5==0.13.0
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
executing==1.2.0
fastcluster==1.2.6
fastjsonschema==2.17.1
feature-engine==1.6.0
filelock==3.12.2
Fiona==1.9.4
folium==0.14.0
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
GDAL==3.7.0
geodatasets==0.0.0
geographiclib==2.0
geopandas==0.13.2
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.32
gmpy2==2.1.2
graphviz==0.20.1
greenlet==2.0.2
h5py==3.9.0
haversine==2.8.0
hdbscan==0.8.30
holidays==0.28
idna==3.4
imagecodecs==2023.1.23
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
ipykernel==6.24.0
ipympl==0.9.3
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.0
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
jupyter-bokeh==3.0.7
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
kiwisolver==1.4.4
lightgbm==3.3.5
lightning-utilities==0.9.0
llvmlite==0.40.1
locket==1.0.0
LunarCalendar==0.0.9
lz4==4.3.2
Mako==1.2.4
mapclassify==2.5.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mercantile==1.2.1
mistune==3.0.0
mlxtend==0.22.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
munch==4.0.0
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio==1.5.6
networkx==3.1
nfoursid==1.0.1
numba==0.57.1
numexpr==2.7.3
numpy==1.24.4
openpyxl==3.1.2
optuna==3.2.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pip==23.1.2
pkgutil_resolve_name==1.3.10
platformdirs==3.8.1
plotly==5.15.0
pmdarima==2.0.3
pooch==1.7.0
prompt-toolkit==3.0.39
prophet==1.1.4
protobuf==4.21.12
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pydeck==0.8.0
Pygments==2.15.1
PyMeeus==0.5.12
Pympler==1.0.1
pyod==1.1.0
pyparsing==3.0.9
pyproj==3.5.0
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==2.0.4
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==25.1.0
rasterio==1.3.7
referencing==0.29.1
requests==2.31.0
rich==13.4.2
rpds-py==0.8.10
rsa==4.7.2
Rtree==1.0.1
s3fs==2023.6.0
s3transfer==0.6.1
SCALECAST==0.18.8
scikit-base==0.5.0
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
setuptools==68.0.0
shap==0.42.0
shapely==2.0.1
six==1.16.0
skforecast==0.9.0
sktime==0.20.0
slicer==0.0.7
smmap==5.0.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.18
st-files-connection==0.1.0
stack-data==0.6.2
statsforecast==1.4.0
statsmodels==0.14.0
streamlit==1.25.0
sympy==1.12
tables==3.8.0
tabulate==0.9.0
tbats==1.1.3
tblib==1.7.0
tenacity==8.2.2
tensorboardX==2.5
threadpoolctl==3.1.0
tifffile==2023.7.10
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
torch==2.0.0
torchmetrics==0.11.4
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
u8darts==0.24.0
unicodedata2==15.0.0
urllib3==1.26.16
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.40.0
widgetsnbextension==4.0.8
wrapt==1.15.0
xarray==2023.6.0
xgboost==1.7.4
xlrd==2.0.1
xyzservices==2023.5.0
yarl==1.9.2
yellowbrick==1.5
zict==3.0.0
zipp==3.16.0
